a{
    display: flex;
}
.avatar{
    padding-top: 4em;
}
.back-page{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
body{
    font-weight: bold;
}
.details{
    display: flex;
    font-size: large;
    padding-left: 1em;
    align-items: baseline;
}
.trophy{
    width: 90%;
    height: 70%;
}
.trophy:hover{
    cursor: pointer;
}
